
<section style="margin-top: 7rem;" class="col-sm-12 mb-5">
  <h3 style="text-align: center;">All Products</h3>
    <div >
        <div class="row mt-3">
    <a href="/admin/add-product" class="btn btn-success ml-auto mr-3 ">Add Product</a>
</div>
<div class="allProdContainer">
        <table id="table_id" class=" table table-dark  mt-3 " style="font-size:smaller;">
  <thead>
    <tr>
      <th scope="col">No</th>
      <th scope="col">Name</th>
      <th scope="col">Category</th>
      <th scope="col">Price</th>
      <th scope="col">Description</th>
      <th scope="col">Image</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
       
      <th class=i scope="row">{{i}}</th>
      <td>{{this.Name}}</td>
      <td>{{this.Category}}</td>
      <td>₹{{this.Price}}</td>
      <td class="col-sm-3 col-md-12">{{this.Description}}</td>
      <div class="col-sm-3 col-md-12">
      <td class="col-sm-2 col-md-12"><img style="height: 50px; width: 50px;" src="/product-images/{{this._id}}.jpg" alt=""></td>
    {{!-- on clicking the edit button id is passed and awaiting response --}}
   <td> <a class="btn btn-success mb-3" href="/admin/edit-product/{{this._id}}">Edit</a>
     {{!-- on clicking the delete button id is passed and awaiting response --}}
     <a class="btn btn-danger" onclick="return confirm ('Are you sure to delete {{this.Name}} ?')" href="/admin/delete-product/{{this._id}}"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash"
                viewBox="0 0 16 16">
                <path
                  d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                <path fill-rule="evenodd"
                  d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
              </svg></a></td></div>
    </tr>
    {{/each}}
  </tbody>
</table>
</div>
    </div>
</section>

<script>
  $(document).ready( function () {
    $('#table_id').DataTable();
} );
</script>
<script>
  for(i=1;i>=1;i++){
    document.getElementsByClassName('i')[i-1].innerHTML=i
  }
</script>

<style>
  .allProdContainer{
    margin: 0 15px;
    overflow-x: scroll;
  }
  
</style>