 <section style="margin-top: 7rem;" class="container">
    <div class="container col-md-8">
        <div class="table-responsive mt-5">
 <table id="orderedProducts" class="table table-striped table-dark" style="font-size:small ;">
  <thead>

    <tr>
      <th scope="col">No</th>
      <th scope="col">Item</th>
      <th scope="col">Name</th>
      <th scope="col">Price</th>
     
      <th scope="col">Quantity</th>
    </tr>
  </thead>
  <tbody>
    {{#each products}}
    <tr>
      <th class="i" scope="row">{{i}}</th>
      <td><img style="width: 70px; height: auto;" src={{this.products.Image_URL}} alt=""></td>
      <td>{{this.products.Name}}</td>
      <td>₹{{this.products.Price}}</td>
    
      <td>{{this.quantity}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
        </div>
    </div>
 </section>
 
<script>
  for(i=1;i>=1;i++){
    document.getElementsByClassName('i')[i-1].innerHTML=i
  }
</script>

<script>
  $(document).ready( function () {
    $('#orderedProducts').DataTable();
} );
</script>